
.filterBar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "search" "selector" "size";
  gap: rem(12px);
  width: 100%;
  max-width: rem(600px);
  margin: 0 auto;

  @media (min-width: rem(320px)) {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "search search" "selector size";
  }

  @media (min-width: rem(540px)) {
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    grid-template-areas: "search selector size";
  }
}

.search {
  grid-area: search;
  width: 100%;
}

.selector {
  grid-area: selector;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;

  @media (min-width: rem(540px)) {
    width: rem(130px);
    min-width: rem(130px);
  }
}

.size {
  grid-area: size;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;

  @media (min-width: rem(540px)) {
    width: rem(130px);
    min-width: rem(130px);
  }
}
