
%footer-section {
  display: block;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(16px);

  @media (min-width: rem(480px)) and (max-width: rem(1080px)) {
    margin-bottom: rem(40px);
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(16px);
  width: 100%;
  padding: rem(28px) 0;
  border-top: 1px solid light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-gray-8),
  );

  @media (min-width: rem(480px)) {
    padding: rem(20px) 0;
    flex-direction: row-reverse;
    gap: 0;
  }

  .copyright {
    @extend %footer-section;
    text-align: center;
    
    @media (min-width: rem(480px)) {
      text-align: left;      
    }
    
    p {
      font-size: rem(14px);
      margin-bottom: 0 !important;
      color: var(--mantine-color-gray-6);
    }
  }

  .socials {
    @extend %footer-section;
  }
}
