
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body.scs {
  margin-right: 0 !important;
}

.appContainer {
  padding: rem(28px);

  @media (min-width: rem(480px)) {
    padding: rem(40px);
  }
}
