
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-column-gap: rem(30px);
  grid-row-gap: rem(30px);
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  display: flex;
  gap: rem(8px);
  text-align: right;
}
