
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "sitelogo actionmenu" "filterbar filterbar";
  grid-column-gap: rem(32px);
  grid-row-gap: rem(32px);
  width: 100%;
  
  @media (min-width: rem(910px)) {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sitelogo filterbar actionmenu";
  }
}

.left {
  grid-area: sitelogo;
  text-align: left;
}

.center {
  grid-area: filterbar;
  text-align: center;
}

.right {
  grid-area: actionmenu;
  text-align: right;
}
