
.numberCell {
  display: block;
  width: 100%;
  max-width: rem(120px);
  padding: rem(12px) rem(16px);
  border: 1px solid light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-gray-7)
  );
  border-radius: var(--mantine-radius-md);
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}
